<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Control</title>
</head>
<body>
    <header>

    </header>
    <nav>

    </nav>
    <main> 
        <h2>Lista de Proveedores</h2>
      <div>
        <ol>
            {% for proveedor in proveedores %}
                <li><a href="{% url 'compra:detalle_proveedor' proveedor.id %}">{{proveedor.nombre}}</a></li>
            {% empty %}
                <li>No existen proveedores</li>
            {% endfor %}
        </ol>
        <hr>
        <br>
        <a href="{% url 'compra:crear_proveedor' %}">Crear Proveedor</a>

    </main>
    <footer>
        
    </footer>
</body>
</html>