<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Control</title>
</head>
<body>
    <header>

    </header>
    <nav>

    </nav>
    <main> 
        <h2>Eliminación de proveedor</h2>
        <p>¿Está seguro que desea eliminar este proveedor: {{proveedor.nombre}}</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Si, Eliminar proveedor">
        </form>
        <br>
        <a href="{% url 'compra:detalle_proveedor' proveedor.id %}">Cancelar</a>
    
    </main>
    <footer>
        
    </footer>
</body>
</html>