<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Control</title>
</head>
<body>
    <header>
     
    </header>
    <nav>

    </nav>
    <main> 
        <h1>Detalle del Producto</h1>
        <br>
        <p><strong>Nombre: </strong> {{producto_detalle.nombre}}</p>
        <p><strong>Precio: </strong> {{producto_detalle.precio}}</p>
        <p><strong>Stock Actual: </strong> {{producto_detalle.stock_actual}}</p>
        <hr>
        <a href="{% url 'compra:modificar_producto' producto_detalle.id %}">Modificar</a> 
        <a href="{% url 'compra:eliminar_producto' producto_detalle.id %}">Eliminar</a> 
        <a href="{% url 'compra:lista_productos' %}">Volver a la lista de Producto</a>
        <br>
    </main>
    <footer>

    </footer>
</body>
</html>