<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Control</title>
</head>
<body>
    <header>

    </header>
    <nav>

    </nav>
    <main> 
      <h2>Lista de Productos</h2>
      <div>
        <ol>
            {% for producto in productos %}
                <li><a href="{% url 'compra:detalle_producto' producto.id %}">{{producto.nombre}}</a></li>
            {% empty %}
                <li>No existen productos</li>
            {% endfor %}
        </ol>
        <hr>
        <br>
        <a href="{% url 'compra:crear_producto' %}">Crear Producto</a>

      </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>